*{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid red;
    .header-title{
        font-size: 1.6em;
    }
    
}
.card-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    padding: 20px;
    border-top: 1px solid red;
    a{
        text-decoration: none;
        color: black;
    }
}
.containerCarrito{
    background-color: #4b43df;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 5px black;
    a{
        color: aliceblue;
        text-decoration: none;
    }

}
.material-icons a i{
        text-decoration: none;
        color: aliceblue;
    }
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    .pelotita:nth-child(odd) {
        animation-delay: 1s;
    }
    
    .pelotita{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #00abf9;
        margin: 10px;
        animation: carga; 
        animation-duration: 1s;
        animation-iteration-count: infinite;
        }
}
@keyframes carga {
    10%{transform: scale(1);}
    50%{transform: scale(1.3);}
    75%{transform: scale(1.5);}
    100%{transform: scale(1);}
}
.hero{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10px 200px 10px;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
    border:1px solid black;
    box-shadow: 3px 4px 10px black;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #4b43df;
    color: white;
    .hero-text{
        grid-row-start: 2;
        align-self: center;
        padding: 10px;
    }
    img{
        object-fit: cover;
        width: 150px;
        grid-column-start: 2;
        grid-row-start: 2;
    }
}
.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-auto-rows: 1fr;
}
.card-product{
    width: 250px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 3px 4px 10px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 200px;
    }
}
